.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 25vh;
}

.child{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
}

@media(max-width:650px){
    .main{
        flex-wrap: wrap;
    }
    .child{
        width: 80%;
    }
}