.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainc {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

@media(max-width:650px){
  .mainc{
    flex-wrap: wrap;
  }
  .main{
    padding-top: 25vh;
  }
}