.main {
  background-color: #0a3041;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.mainc{
  width: 150%;
  padding-right: 30px;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.copy{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a3041;
  gap: 4px;
  color: white;
  border-top: 1px solid rgb(146, 146, 146);
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 2.5vh;

}

@media (max-width: 650px) {
  .main {
    flex-wrap: wrap;
    padding: 20px;
  }
  .mainc{
    flex-wrap: wrap;
  }
  .copy{
    font-size: 10px;
  }
  .ul{
    margin-left: -10px;
  }
}
