.section{
    margin-left: 12vw;
}

.para{
    color: white;
    z-index: 0;
    font-size: 4rem;
    font-weight: 600;
    line-height: 70px;
}

@media(max-width:650px){
    .section{
        margin-left: 10vw;
    }
}