.back{
    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0.2;
}

.pay{
    width: 30%;
    height: 80vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:650px){
    .pay{
        width: 80%;
    }
}